[DATOOLS]
Config.Count= 0
Config.Greet=DATOOLS
[UI]
UI.Config.BackColor=15724527
UI.Config.ForeColor=12734123
UI.Config.Border=False
UI.Config.Clock=True
UI.Config.Greet=False
UI.Config.QUISkin=False
UI.Config.Transparency=220
UI.Config.useBackPicture=True
UI.Config.AppBackPicturePath=I:\_Media\WallPapers\QCube\0c898723125ada049d9bf031de894324.jpg
